In [1]:
# Your code
import pandas as pd

In [14]:
# Your code for loading data into dataframe
df = pd.read_csv('https://raw.githubusercontent.com/RusAbk/sca_datasets/main/movies.csv')

In [15]:
# Your code showing the list of columns
df.columns

Index(['name', 'rating', 'genre', 'year', 'released', 'score', 'votes',
       'director', 'writer', 'star', 'country', 'budget', 'gross', 'company',
       'runtime'],
      dtype='object')

In [16]:
# Your code showing dataframe columns' types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7668 entries, 0 to 7667
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      7668 non-null   object
 1   rating    7591 non-null   object
 2   genre     7668 non-null   object
 3   year      7668 non-null   int64
 4   released  7666 non-null   object
 5   score     7665 non-null   float64
 6   votes     7665 non-null   float64
 7   director  7668 non-null   object
 8   writer    7665 non-null   object
 9   star      7667 non-null   object
 10  country   7665 non-null   object
 11  budget    5497 non-null   float64
 12  gross     7479 non-null   float64
 13  company   7651 non-null   object
 14  runtime   7664 non-null   float64
dtypes: float64(5), int64(1), object(9)
memory usage: 898.7+ KB

In [17]:
# Your code showing the first 5 row
df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0

In [18]:
# Your code showing descriptive statistics for the dataframe
df.describe()

,year,score,votes,budget,gross,runtime
count,7668.000000,7665.000000,7.665000e+03,5.497000e+03,7.479000e+03,7664.000000
mean,2000.405451,6.390411,8.810850e+04,3.558988e+07,7.850054e+07,107.261613
std,11.153508,0.968842,1.633238e+05,4.145730e+07,1.657251e+08,18.581247
min,1980.000000,1.900000,7.000000e+00,3.000000e+03,3.090000e+02,55.000000
25%,1991.000000,5.800000,9.100000e+03,1.000000e+07,4.532056e+06,95.000000
50%,2000.000000,6.500000,3.300000e+04,2.050000e+07,2.020576e+07,104.000000
75%,2010.000000,7.100000,9.300000e+04,4.500000e+07,7.601669e+07,116.000000
max,2020.000000,9.300000,2.400000e+06,3.560000e+08,2.847246e+09,366.000000

In [20]:
# Enter your code
df['revenue'] = df['gross'] - df['budget']
# Show the first 5 rows again to check
df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime,revenue
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0,27998772.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0,54353106.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0,520375067.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0,79953539.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0,33846344.0

In [21]:
# Enter your code
df['percentage_profit'] = df['revenue'] / df['gross'] * 100

In [22]:
# Show the first 5 rows again to check
df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime,revenue,percentage_profit
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0,27998772.0,59.573412
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0,54353106.0,92.353845
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0,520375067.0,96.656606
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0,79953539.0,95.806050
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0,33846344.0,84.942157

In [23]:
# Enter your code
df['high_budget_movie'] = df['budget'] > 100000000

In [24]:
# Show the first 5 rows again to check
df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime,revenue,percentage_profit,high_budget_movie
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0,27998772.0,59.573412,False
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0,54353106.0,92.353845,False
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0,520375067.0,96.656606,False
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0,79953539.0,95.806050,False
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0,33846344.0,84.942157,False

In [26]:
# Enter your code
df['successful_movie'] = df['percentage_profit'] > 50
# Show the first 5 rows again to check
df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime,revenue,percentage_profit,high_budget_movie,successful_movie
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0,27998772.0,59.573412,False,True
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0,54353106.0,92.353845,False,True
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0,520375067.0,96.656606,False,True
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0,79953539.0,95.806050,False,True
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0,33846344.0,84.942157,False,True

In [27]:
# Enter your code
df['high_rated_movie'] = df['score'] > 8
# Show the first 5 rows again to check
df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime,revenue,percentage_profit,high_budget_movie,successful_movie,high_rated_movie
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0,27998772.0,59.573412,False,True,True
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0,54353106.0,92.353845,False,True,False
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0,520375067.0,96.656606,False,True,True
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0,79953539.0,95.806050,False,True,False
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0,33846344.0,84.942157,False,True,False

In [29]:
# Enter your code
df['is_new_release'] = df['year'] > 2020
# Show the first 5 rows again to check
df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,...,budget,gross,company,runtime,revenue,percentage_profit,high_budget_movie,successful_movie,high_rated_movie,is_new_release
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,...,19000000.0,46998772.0,Warner Bros.,146.0,27998772.0,59.573412,False,True,True,False
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,...,4500000.0,58853106.0,Columbia Pictures,104.0,54353106.0,92.353845,False,True,False,False
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,...,18000000.0,538375067.0,Lucasfilm,124.0,520375067.0,96.656606,False,True,True,False
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,...,3500000.0,83453539.0,Paramount Pictures,88.0,79953539.0,95.806050,False,True,False,False
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,...,6000000.0,39846344.0,Orion Pictures,98.0,33846344.0,84.942157,False,True,False,False

In [30]:
# Enter your code
df['is_long_movie'] = df['runtime'] > 150
# Show the first 5 rows again to check
df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,...,gross,company,runtime,revenue,percentage_profit,high_budget_movie,successful_movie,high_rated_movie,is_new_release,is_long_movie
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,...,46998772.0,Warner Bros.,146.0,27998772.0,59.573412,False,True,True,False,False
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,...,58853106.0,Columbia Pictures,104.0,54353106.0,92.353845,False,True,False,False,False
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,...,538375067.0,Lucasfilm,124.0,520375067.0,96.656606,False,True,True,False,False
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,...,83453539.0,Paramount Pictures,88.0,79953539.0,95.806050,False,True,False,False,False
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,...,39846344.0,Orion Pictures,98.0,33846344.0,84.942157,False,True,False,False,False

In [31]:
# Your code
df['age'] = 2024 - df['year']
# Show the first 5 rows again to check
df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,...,company,runtime,revenue,percentage_profit,high_budget_movie,successful_movie,high_rated_movie,is_new_release,is_long_movie,age
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,...,Warner Bros.,146.0,27998772.0,59.573412,False,True,True,False,False,44
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,...,Columbia Pictures,104.0,54353106.0,92.353845,False,True,False,False,False,44
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,...,Lucasfilm,124.0,520375067.0,96.656606,False,True,True,False,False,44
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,...,Paramount Pictures,88.0,79953539.0,95.806050,False,True,False,False,False,44
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,...,Orion Pictures,98.0,33846344.0,84.942157,False,True,False,False,False,44

In [33]:
# Your code
sorted_df = df.sort_values(by='score', ascending=False)
top10_movies = sorted_df.head(10)
# Your code
top10_movies

,name,rating,genre,year,released,score,votes,director,writer,star,...,company,runtime,revenue,percentage_profit,high_budget_movie,successful_movie,high_rated_movie,is_new_release,is_long_movie,age
2443,The Shawshank Redemption,R,Drama,1994,"October 14, 1994 (United States)",9.3,2400000.0,Frank Darabont,Stephen King,Tim Robbins,...,Castle Rock Entertainment,142.0,3.817291e+06,13.246530,False,False,True,False,False,30
5243,The Dark Knight,PG-13,Action,2008,"July 18, 2008 (United States)",9.0,2400000.0,Christopher Nolan,Jonathan Nolan,Christian Bale,...,Warner Bros.,152.0,8.209736e+08,81.609856,True,True,True,False,True,16
2247,Schindler's List,R,Biography,1993,"February 4, 1994 (United States)",8.9,1200000.0,Steven Spielberg,Thomas Keneally,Liam Neeson,...,Universal Pictures,195.0,3.001612e+08,93.171121,False,True,True,False,True,31
2444,Pulp Fiction,R,Crime,1994,"October 14, 1994 (United States)",8.9,1900000.0,Quentin Tarantino,Quentin Tarantino,John Travolta,...,Miramax,154.0,2.059288e+08,96.260437,False,True,True,False,True,30
4245,The Lord of the Rings: The Return of the King,PG-13,Action,2003,"December 17, 2003 (United States)",8.9,1700000.0,Peter Jackson,J.R.R. Tolkien,Elijah Wood,...,New Line Cinema,201.0,1.052031e+09,91.797778,False,True,True,False,True,21
5643,Inception,PG-13,Action,2010,"July 16, 2010 (United States)",8.8,2100000.0,Christopher Nolan,Christopher Nolan,Leonardo DiCaprio,...,Warner Bros.,148.0,6.768370e+08,80.880386,True,True,True,False,False,14
3845,The Lord of the Rings: The Fellowship of the Ring,PG-13,Action,2001,"December 19, 2001 (United States)",8.8,1700000.0,Peter Jackson,J.R.R. Tolkien,Elijah Wood,...,New Line Cinema,178.0,8.046901e+08,89.640077,False,True,True,False,True,23
2445,Forrest Gump,PG-13,Drama,1994,"July 6, 1994 (United States)",8.8,1900000.0,Robert Zemeckis,Winston Groom,Tom Hanks,...,Paramount Pictures,142.0,6.232261e+08,91.890610,False,True,True,False,False,30
3444,Fight Club,R,Drama,1999,"October 15, 1999 (United States)",8.8,1900000.0,David Fincher,Chuck Palahniuk,Brad Pitt,...,Fox 2000 Pictures,139.0,3.820970e+07,37.753003,False,False,True,False,False,25
4048,The Lord of the Rings: The Two Towers,PG-13,Action,2002,"December 18, 2002 (United States)",8.7,1500000.0,Peter Jackson,J.R.R. Tolkien,Elijah Wood,...,New Line Cinema,179.0,8.534951e+08,90.079104,False,True,True,False,True,22

In [35]:
# Your code
successful_movies = df[df['successful_movie'] == True]
# Show the first 5 rows of the new dataframe to check the result
successful_movies.head()

,name,rating,genre,year,released,score,votes,director,writer,star,...,company,runtime,revenue,percentage_profit,high_budget_movie,successful_movie,high_rated_movie,is_new_release,is_long_movie,age
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,...,Warner Bros.,146.0,27998772.0,59.573412,False,True,True,False,False,44
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,...,Columbia Pictures,104.0,54353106.0,92.353845,False,True,False,False,False,44
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,...,Lucasfilm,124.0,520375067.0,96.656606,False,True,True,False,False,44
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,...,Paramount Pictures,88.0,79953539.0,95.806050,False,True,False,False,False,44
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,...,Orion Pictures,98.0,33846344.0,84.942157,False,True,False,False,False,44

In [36]:
# Your code
del successful_movies['successful_movie']
# Show the first 5 rows of the new dataframe to check the result
successful_movies.head()

,name,rating,genre,year,released,score,votes,director,writer,star,...,gross,company,runtime,revenue,percentage_profit,high_budget_movie,high_rated_movie,is_new_release,is_long_movie,age
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,...,46998772.0,Warner Bros.,146.0,27998772.0,59.573412,False,True,False,False,44
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,...,58853106.0,Columbia Pictures,104.0,54353106.0,92.353845,False,False,False,False,44
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,...,538375067.0,Lucasfilm,124.0,520375067.0,96.656606,False,True,False,False,44
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,...,83453539.0,Paramount Pictures,88.0,79953539.0,95.806050,False,False,False,False,44
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,...,39846344.0,Orion Pictures,98.0,33846344.0,84.942157,False,False,False,False,44

In [38]:
# Your code
con1 = df['genre'] == 'Sci-Fi'
con2 = df['gross'] > 150000000
sci_fi_blockbusters = df[con1 & con2]
# Show the first 5 rows of the new dataframe to check the result
sci_fi_blockbusters.head()

,name,rating,genre,year,released,score,votes,director,writer,star,...,company,runtime,revenue,percentage_profit,high_budget_movie,successful_movie,high_rated_movie,is_new_release,is_long_movie,age
5876,Limitless,PG-13,Sci-Fi,2011,"March 18, 2011 (United States)",7.4,538000.0,Neil Burger,Leslie Dixon,Bradley Cooper,...,Relativity Media,105.0,134849455.0,83.317831,False,True,False,False,False,13

In [40]:
# Your code
con1 = df['released'].str.contains('June')
con2 = df['released'].str.contains('July')
con3 = df['released'].str.contains('August')
summer_movies = df[con1 | con2 | con3]
# Show the first 5 rows of the new dataframe to check the result
summer_movies

,name,rating,genre,year,released,score,votes,director,writer,star,...,company,runtime,revenue,percentage_profit,high_budget_movie,successful_movie,high_rated_movie,is_new_release,is_long_movie,age
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,...,Warner Bros.,146.0,27998772.0,59.573412,False,True,True,False,False,44
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,...,Columbia Pictures,104.0,54353106.0,92.353845,False,True,False,False,False,44
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,...,Lucasfilm,124.0,520375067.0,96.656606,False,True,True,False,False,44
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,...,Paramount Pictures,88.0,79953539.0,95.806050,False,True,False,False,False,44
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,...,Orion Pictures,98.0,33846344.0,84.942157,False,True,False,False,False,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7639,Round of Your Life,NaN,Family,2019,"June 21, 2019 (United States)",4.6,150.0,Dylan Thomas Ellis,Tim Ogletree,Cole Allen,...,Aristar Entertainment,91.0,NaN,NaN,False,False,False,False,False,5
7642,A Brother's Love,NaN,Drama,2019,"June 7, 2019 (Canada)",6.8,869.0,Monia Chokri,Monia Chokri,Anne-Élisabeth Bossé,...,Metafilms,117.0,NaN,NaN,False,False,False,False,False,5
7652,The Eight Hundred,Not Rated,Action,2020,"August 28, 2020 (United States)",6.8,3700.0,Hu Guan,Hu Guan,Zhi-zhong Huang,...,Beijing Diqi Yinxiang Entertainment,149.0,381421559.0,82.662275,False,True,False,False,False,4
7656,Tulsa,PG-13,Comedy,2020,"June 3, 2020 (United States)",5.0,294.0,Scott Pryor,Scott Pryor,Scott Pryor,...,Pryor Entertainment,120.0,NaN,NaN,False,False,False,False,False,4
7667,Tee em el,NaN,Horror,2020,"August 19, 2020 (United States)",5.7,7.0,Pereko Mosia,Pereko Mosia,Siyabonga Mabaso,...,PK 65 Films,102.0,NaN,NaN,False,False,False,False,False,4